<div class="container text-center my-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-dark mb-4"><strong>Bienvenido a <em>TheRialNews</em></strong></h1>
      <p class="card-text fs-5">
        ¡Descubre la actualidad como nunca antes!  
        En <strong><em>TheRialNews</em></strong>, te ofrecemos una perspectiva satírica y entretenida de las noticias más recientes. Nuestro objetivo es mantenerte informado mientras te sacamos una sonrisa.
      </p>
      <hr class="my-4">
        <p class="bi bi-eye text-success"></p> <strong>No estás registrado:</strong> Explora nuestras publicaciones y profundiza en los detalles de cada noticia.
        <p class="bi bi-chat-dots text-info"></p> <strong>Tienes una cuenta:</strong> Únete a la conversación dejando comentarios en las noticias que te interesen.
        <p class="bi bi-shield-check text-danger"></p> <strong>Eres administrador:</strong> Mantén la comunidad segura y respetuosa moderando los comentarios cuando sea necesario.
        <hr>
      <%= link_to "Explorar Noticias", posts_path, class:"btn btn-dark mt-3 px-5", ariaCurrent:"page" %>
    </div>
  </div>
</div>
